[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
innodb_force_recovery = 0 #6 # 6- USE ONCE only for RECOVERY, and 0- for default
#bind-address = 0.0.0.0

## utf8
character-set-server = utf8
collation-server = utf8_unicode_ci

## utf8mb4
#character-set-client-handshake = FALSE
#character-set-server = utf8mb4
#collation-server = utf8mb4_unicode_ci

# 1. Mandatory settings: these settings are REQUIRED for proper Gallera-cluster
# operation
binlog_format=ROW
default_storage_engine=innodb
#innodb_autoinc_lock_mode=2
#innodb_doublewrite=1

# - Query cache
# monitoring: SHOW GLOBAL STATUS LIKE 'Qcache%';
query_cache_size = 64M  # =0 for Galera-CLUSTER, =32-512 M for standalone
query_cache_type = ON   # =0 for Galera-CLUSTER, =ON/DEMAND for standalone

# 2. Tuning
skip-name-resolve
skip-host-cache

max_heap_table_size = 64M
tmp_table_size = 64M

max_connections = 100
thread_cache_size = 32     # Increase until "SHOW GLOBAL STATUS LIKE 'Threads_created';" will stay < 100
#sort_buffer_size  = 24M

#table_open_cache = 3000    # ulimit -n 50000 ; OR /etc/sysctl.conf : fs.file-max = 50000 ; sysctl -p
binlog_cache_size = 1M
