# (once) Install YAML Linter
# pip3 install yamllint==1.28.0

##  https://yamllint.readthedocs.io/en/stable/rules.html#module-yamllint.rules
rules:
  # missing document start "---"
  document-start: false
  # { ... }
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  # [ ... ]
  brackets:
    level: warning
  # Comments
  comments:
    require-starting-space: false
  comments-indentation: false
  # indent-size any, but aligned & fixed
  indentation:
    indent-sequences: whatever
  # 120 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 120
    level: warning
  new-line-at-end-of-file: enable
