# (once) Install YAML Linter
# sudo pip3 install yamllint
extends: default

rules:
  # 80 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 100
    level: warning

  # don't bother me with this rule
  #indentation: disable
  comments: disable
  comments-indentation: disable
  document-start: disable
  truthy: disable
