[mysqld]

# 2. Optional mysqld settings: your regular InnoDB tuning and such
innodb_buffer_pool_size = 128M   # 128M or more
innodb_buffer_pool_instances = 1 # <= CPU cores, each allocate 'innodb_buffer_pool_size' Mb RAM
innodb_log_file_size = 64M       # = 25% innodb_buffer_pool_size <= 256 Mb
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2 # 2= Flush to Disk once per 1 second, 1= Flush to Disk everytime
#innodb_flush_method = O_DIRECT

