# user UID & GID  SHOULD BE  equal local user ID
#admin@devops-rasla:~/docker/$ id
#uid=1000(admin) gid=1000(admin)
USER_UID=1000
USER_GID=1000

# docker run --rm -it vaultwarden/server:alpine /vaultwarden hash --preset owasp
VW_ADMIN_TOKEN='$argon2id$v=19$m=19456,t=2,p=1$H6aNZfSUp/jXnp3QIujYE9vEg29ZDJ88ljiWC2yVu6E$s5ZL/H4HiL4kImeD4JH39sh3LOO6PTBDzIwRyrJmwic'
VW_PORT=8080
