### HTTPS ###
###
server {
  listen 8080;  # local
  listen 443 ssl;  # http2 - 1.9.5-1.25.0
#  listen 443 quic;  # quic - 1.25.1+
#  listen [::]:443 ssl;  # http2 - 1.9.5-1.25.0
#  listen [::]:443 quic;
# add_header Alt-Svc 'h3=":443"; ma=86400';  # quic
  server_name  webmail.igduran.ru bizmail.igduran.ru mail.igduran.ru;

  access_log off; #/var/log/angie/mail.igduran.ru-http-access.log  combined  buffer=4k flush=5s;
  error_log  /dev/null crit;

  root /usr/share/angie/html;
  index index.html index.htm index.php;

  include http.d/_tls-12.config;
  include http.d/_tls-hsts.config;
  include http.d/_tls-xss-block.config;
  ssl_certificate_key     /etc/letsencrypt/live/igduran.ru_ecc/privkey.pem;
  ssl_certificate         /etc/letsencrypt/live/igduran.ru_ecc/fullchain.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/igduran.ru_ecc/chain.pem;

  location = /_livez {
    access_log off;
    default_type text/plain;
    return 200;
  }
  location / {
    return 301 https://biz.mail.ru/login/igduran.ru;
  }
}
