{
  "Servers": {
    "1": {
      "Name": "psql-dc",
      "Group": "Docker-Compose",
      "Host": "psql",
      "Port": 5432,
      "Username": "postgres",
      "SSLMode": "prefer",
      "MaintenanceDB": "postgres"
    }
  }
}
