# user UID & GID  SHOULD BE  equal local user ID
#admin@devops-rasla:~/docker/$ id
#uid=1000(admin) gid=1000(admin)
USER_UID=1000
USER_GID=1000

ANGIE_HTTP_PORT=0.0.0.0:80
ANGIE_HTTPS_PORT=0.0.0.0:443
ANGIE_HTTP3_PORT=0.0.0.0:443
