### https://mozilla.github.io/server-side-tls/ssl-config-generator/
### intermediate profile (Firefox 1, Chrome 1, IE 7, Opera 5, Safari 1, Windows XP IE8, Android 2.3, Java 7)
 ssl_protocols TLSv1.3 TLSv1.2 TLSv1.1 TLSv1;
 ssl_ciphers ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:DHE-RSA-AES128-SHA:ECDHE-ECDSA-DES-CBC3-SHA:!DSS;
 ssl_dhparam /etc/nginx/conf.d/_dhparam.pem;  # openssl dhparam -out /etc/nginx/conf.d/_dhparam.pem 2048
 ssl_prefer_server_ciphers on;
