### _tls-common.conf ###
###
 ssl_stapling on;
 ssl_stapling_verify on;
 #resolver 77.88.8.1 valid=300s;  # 77.88.8.1 - Yandex.DNS; 1.1.1.1 - CloudFlare; 8.8.8.8 - Google

 ssl_protocols TLSv1.2 TLSv1.3;
 ssl_prefer_server_ciphers on;

 ssl_session_timeout 1h;
 ssl_session_cache shared:SSL:50m;
 ssl_session_tickets on;

 ssl_early_data on;  # 1.15.3+; TLSv1.3 0-RTT

 http2 on;  # 1.25.1+
 http3 on;  # 1.25.1+
 quic_retry on;  # 1.25.1+ security
 quic_gso on;  # 1.25.1+; linux 4.18+, ethtool --offload  eth0 gso on
 #quic_host_key file_name;
